.formats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 85%;
}

.formats-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.formats-title h2:first-child {
    font-weight: 400;
    color: rgb(33, 30, 30);
}

.format-cards-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}