.url-container {
    width: 40vw;
    height: 85vh;
}

.url-form {
    width: 39vw;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 7px;
    padding-left: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
    outline: none;
    background: #f9f9f9;
    margin-right: 5px;
}

.url-wrapper {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bad-link {
    border: solid 1px #b43218;
}

.good-link {
    border-color: #189AB4;
}

.url-button {
    height: 38px;
    width: 65px;
    background: #189AB4;
    color: #f9f9f9;
    border-radius: 7px;
    border: 1px solid transparent;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
    padding: 2px;
    cursor: pointer;
}

.url-button:hover {
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px;
}
