#url-form {
    width: 39vw;
    height: 3vh;
    border: none;
    border-radius: 7px;
    padding-left: 10px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
}

.url-wrapper {
    margin-top: 15vh;
    margin-bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bad-link {
    border: solid 1px;
    border-color: red;
}

.good-link {
    border-color: green;
}
