.VideoData-parent {
    height: 20vh;
    width: 40vw;
}

.VideoData-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px 0px;
}

.Video-thumbnail {
    height: 75%;
    width: 35%;
    object-fit: cover;
    margin: 20px;
}

.Video-thumbnail img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.Video-info {
    height: 100%;
    width: 55%;
    margin: 20px 20px 0 0;
}

.Video-title {
    font-weight: 600;
    font-size: 20px;
}