.title-img{
    height: 8vh;
    position: relative;
    top: 2.25vh;
}

.title-text {
    font-weight: 600;
    font-size: 5vh;
    color: #111111;
}

.subtitle-text{
    font-weight: 500;
    font-size: 2vh;
    color: #111111;
    margin-top: 3vh;
}
