.header-container {
    display: flex;
    height: 10vh;
    width: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: #f0eee9;

}

.title-container img {
    height: 31px;
    width: 100px;
}

.title-container h1 {
    font-weight: 600;
    font-size: 25px;
}