.button-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 10%;
}

.button-primary {
    height: 100%;
    width: 65%;
    color: #211E1E;
    background: none;
    border: none;
    cursor: pointer;
}

.button-icon {
    height: 100%;
    width: 100%;
}

.download-spinner {
    top: 4px;
    position: relative;
}

.button-ref {
    pointer-events: none;
    cursor: default;
    width: 0px;
    height: 0px;
}
