.button-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 6%;
}

.button-primary {
    height: 100%;
    width: 55%;
    text-decoration: none;
    color: aquamarine;
}

.button-icon {
    font-size: 100%;
    height: 100%;
    width: 100%;
}
