.format-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    max-width: 100%;
    height: 25%;
    border: 1px solid black;
    margin: auto;
    margin-bottom: 2px;
}

.format-p {
    width: 100%;
}

.format-ext {
    width: 3vw;
}
.format-codec {
    width: 5vw;
}

.format-audobtr {
    width: 10vw;
}

.format-filesize {
    width: 11vw;
}
